<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Poltrona | Diseño de interiores</title>

	<meta name="application-name" content="Poltrona">

	<link rel="icon" sizes="192x192" href="/img/pol/favicon/icon.png">

	<link rel="apple-touch-icon" href="/img/pol/favicon/ios-icon.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/pol/favicon/touch-icon-ipad.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/pol/favicon/touch-icon-iphone-retina.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/pol/favicon/touch-icon-ipad-retina.png">

	<meta name="msapplication-wide310x150logo" content="/img/pol/favicon/icon_widetile.png">
	<meta name="msapplication-square310x310logo" content="/img/pol/favicon/icon_largetile.png">
	<meta name="msapplication-square70x70logo" content="/img/pol/favicon/icon_smalltile.png">
	<meta name="msapplication-square150x150logo" content="/img/pol/favicon/icon_mediumtile.png">

	<!-- JQuery -->
	<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>

	<!-- Styles -->
	<link href="/css/styles.css" rel="stylesheet" type="text/css">

</head>

<body>
	<section class="checkout-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="message">
						<h1>Disfrutá</h1>
						<p>tu espacio</p>
					</div>

					<a class="btn btn-primary" href="/producto" target="_self">Volver al producto</a>
				</div>
			</div>
		</div>
	</section>

	<section class="checkout-bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<img src="/img/shared/logo-full.svg" alt="Poltrona">
				</div>
			</div>
		</div>
	</section>

</body>

<!-- Javascript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>

</html>